@import "bootstrap";

//==== COLORS
$white: #fff;
$black: #000;

// grays
$gray20: #b9c0c5;
$gray30: #97a0a9;
$gray40: #74818c;
$gray50: #526270;
$gray60: #414e59;
$gray70: #313a43;
$gray80: #20272c;

// teals
$teal20: #b9ebe7;
$teal30: #97e1dc;
$teal40: #74d7d0;
$teal50: #52cdc5;
$teal60: #41a49d;
$teal70: #317b76;
$teal80: #20524e;

// Fonts
$secondary-font: 'Dosis', sans-serif;

ul {
  list-style: none;
}

nav {
  font-family: $secondary-font
}

footer {
  background-color: $gray80;
  color: $gray20;
  padding-top: 10px;
  font-family: $secondary-font;

  .footer-section{
    margin-top: 20px;
  }

  li {
    border-left: 4px solid $teal50;
    padding-left: 20px;
    margin-bottom: 5px;

    // :hover {
    //   background-color: $gray70;
    //   border-top: 1px solid $gray30;
    //   background-origin: padding-box;
    // }
  }

  .copyright {
    margin-top: 30px;
  }
}
